#HeaderTitleDescriptionHtmlBox {
    float: left;
    width: 100%;
    margin: 20px 0 20px;
}

    #HeaderTitleDescriptionHtmlBox > div {
        float: left;
        width: 100%;
    }

        #HeaderTitleDescriptionHtmlBox > div > * {
            float: left;
            width: 100%;
        }

    #HeaderTitleDescriptionHtmlBox h1 {
        margin-bottom: 15px;
        letter-spacing: 3px;
        font-size: 36px;
        font-weight:600;
    }

    #HeaderTitleDescriptionHtmlBox p {
        font-size: 14px;
        letter-spacing: 1px;
    }
