#HeaderUnderQHtmlBox {
    float: left;
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-top: 2px;
    margin-bottom:7px;
    border-top: 1px solid #ebebeb;
}

    #HeaderUnderQHtmlBox > p {
        float: left;
        background: #fff;
        font-size: 11px;
        margin-top: -9px;
        margin-left: 26px;
        padding: 0 10px;
    }

        #HeaderUnderQHtmlBox > p > span {
            float: left;
/*            background: #e6e6e6;*/
            font-size: 11px;
            line-height: 11px;
            font-weight: bolder;
            color: #3b3b3b;
            padding:3px 2px 5px;
            margin-right:0px;
            border-radius:1px;
        }

            #HeaderUnderQHtmlBox > p > span.bs {
                background: unset;
            }

@media (max-width: 550px) {
    #HeaderUnderQHtmlBox {
        width: calc(100% - 40px);
        margin: 2px 20px 0;
    }
}