/* https://www.flaticon.com/free-icon/double-check_8138091?term=check+double&page=2&position=17&origin=search&related_id=8138091 */
/* #FF0000 - red */

#DescriptionMainHtmlPart {
    float: left;
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    background-image: linear-gradient( 45deg, hsl(0deg 0% 94%) 0%, hsl(344deg 0% 95%) 11%, hsl(344deg 0% 96%) 22%, hsl(344deg 0% 96%) 33%, hsl(344deg 0% 97%) 44%, hsl(344deg 0% 98%) 56%, hsl(344deg 0% 98%) 67%, hsl(344deg 0% 99%) 78%, hsl(344deg 0% 99%) 89%, hsl(0deg 0% 100%) 100% );
    border-radius: 4px;
}

    #DescriptionMainHtmlPart > * {
        float:left;
    }

    #DescriptionMainHtmlPart > span {
        margin: 9px 15px 0;

        font-size: 11px;
        font-weight: 600;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #777777
    }

    #DescriptionMainHtmlPart > img {
        float:right;
        width: 10px;
        height: 10px;
        margin: 10px 15px;
        opacity: 0.1;
        display:none;
    }


@media (max-width: 550px) {
    #DescriptionMainHtmlPart {
        width: calc(100% - 30px);
        margin-left: 15px;
    }
}





#UserHtmlPart {
    float: left;
    margin-left: 40px;
    margin-bottom: 40px;
    height: 30px;
    width: calc(100% - 80px);
/*    background-image: linear-gradient( 45deg, hsl(0deg 0% 94%) 0%, hsl(344deg 0% 95%) 11%, hsl(344deg 0% 96%) 22%, hsl(344deg 0% 96%) 33%, hsl(344deg 0% 97%) 44%, hsl(344deg 0% 98%) 56%, hsl(344deg 0% 98%) 67%, hsl(344deg 0% 99%) 78%, hsl(344deg 0% 99%) 89%, hsl(0deg 0% 100%) 100% );*/
    border-radius: 4px;
}

@media (max-width: 550px) {
    #UserHtmlPart {
        width: calc(100% - 30px);
        margin-left: 15px;
    }
}

    #UserHtmlPart > * {
        float: left;
    }

        #UserHtmlPart > *:first-child, #UserHtmlPart > *:nth-child(2) {
            float: left;
            border-radius: 4px;
            padding: 0 2px 0 15px;
            background: #f5f5f5;
            height: inherit;
        }

            #UserHtmlPart > *:first-child > *, #UserHtmlPart > *:nth-child(2) > * {
                float: left;
                margin-top: 2px;
                width: 25px;
                height: 20px;
                margin-right: 13px;
                border-bottom: 3px solid hsl(55 0% 77%);
            }

                #UserHtmlPart > *:first-child > *:first-child {
                    border-bottom: 3px solid hsl(55 100% 41%);
                }

                #UserHtmlPart > *:first-child > *:nth-child(2) {
                    border-bottom: 3px solid hsl(0 88% 57%);
                }

                #UserHtmlPart > *:first-child > *:nth-child(3) {
                    border-bottom: 3px solid hsl(98 88% 57%);
                }

                #UserHtmlPart > *:first-child > *:nth-child(4) {
                    border-bottom: 3px solid hsl(199 88% 57%);
                }

                #UserHtmlPart > *:first-child > *:nth-child(5) {
                    border-bottom: 3px solid hsl(30 88% 57%);
                }

                #UserHtmlPart > *:first-child > *:nth-child(6) {
                    border-bottom: 3px solid hsl(129 88% 57%);
                }

                #UserHtmlPart > *:first-child > *:nth-child(7) {
                    border-bottom: 3px solid hsl(276 88% 57%);
                }

                #UserHtmlPart > *:first-child > * > span, #UserHtmlPart > *:nth-child(2) > * > span {
                    display: inline-block;
                    font-size: 10px;
                    margin-top: 5px;
                    font-weight: 600;
                }

        #UserHtmlPart > *:nth-child(2) {
            background: none;
            padding: 0 0 0 10px;
        }

/*            #UserHtmlPart > *:nth-child(2) > * {
                float: left;
                margin-top: 2px;
                width: 17px;
                height: 20px;
                margin-right: 5px;
                border-bottom: 3px solid hsl(55 0% 77%);
            }*/

#UserHtmlPart > img {
    display:none;
    float: right;
    width: 10px;
    height: 10px;
    margin: 10px 15px;
    opacity: 0.1;
}


/*        #UserHtmlPart > *:nth-child(2) {
            float: left;
            height: 30px;
            display:none;
        }

            #UserHtmlPart > *:nth-child(2) > span {
                float: left;
                font-size: 11px;
                font-weight: 600;
                letter-spacing: 5px;
                text-transform: uppercase;
                color: #504f4f;
                margin: 8px 10px 0 0;
                padding:0 10px;
                border-right:1px solid #8b8b8b
            }

        #UserHtmlPart > *:nth-child(3) > span {
            float: left;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #000000;
            margin: 5px 0 0 15px;
        }

*/

#ArticleHtmlPart {
    float: left;
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 40px;
    height: 30px;
    background-image: linear-gradient( 45deg, hsl(0deg 0% 94%) 0%, hsl(344deg 0% 95%) 11%, hsl(344deg 0% 96%) 22%, hsl(344deg 0% 96%) 33%, hsl(344deg 0% 97%) 44%, hsl(344deg 0% 98%) 56%, hsl(344deg 0% 98%) 67%, hsl(344deg 0% 99%) 78%, hsl(344deg 0% 99%) 89%, hsl(0deg 0% 100%) 100% );
    border-radius: 4px;
}

@media (max-width: 550px) {
    #ArticleHtmlPart {
        width: calc(100% - 30px);
        margin-left: 15px;
    }
}

    #ArticleHtmlPart > * {
        float: left;
    }

    #ArticleHtmlPart > *:first-child {
        margin-left:5px;
    }

        #ArticleHtmlPart > *:first-child > span {
            float: left;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #504f4f;
            margin: 8px 10px 0 0;
            padding: 0 10px;
            border-right: 1px solid #8b8b8b
        }

        #ArticleHtmlPart > *:nth-child(2) > span {
            float: left;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #504f4f;
            margin: 8px 10px 0 0;
            padding: 0 10px;
            border-right: 1px solid #8b8b8b
        }

        #ArticleHtmlPart > *:nth-child(2) > span {
            border-right: none;
        }

    #ArticleHtmlPart > img {
        float: right;
        width: 10px;
        height: 10px;
        margin: 10px 15px;
        opacity: 0.1;
    }

/*----------------------------------------*/

#H1QHtmlBox {
    float: left;
    width: 100%;
    margin: 20px 0 20px;
}

    #H1QHtmlBox > div {
        float: left;
        width: 100%;
    }

        #H1QHtmlBox > div > * {
            float: left;
            width: 100%;
        }

    #H1QHtmlBox h1 {
        margin-bottom: 10px;
        letter-spacing: 2px;
        font-size: 32px;
    }

    #H1QHtmlBox p {
        font-size: 14px;
        letter-spacing: 1px;
    }