/*-- Icons --*/
/*-- Pin: https://www.flaticon.com/free-icon/pin_8674923?term=pin&page=10&position=60&origin=search&related_id=8674923 --*/





#LocsHtmlBox {
    float: left;
    width: 100%;
    text-align: center;
}

    #LocsHtmlBox > *:first-child {
        display: inline-block;
        width: 600px;
        margin: 10px 40px 25px;
    }

@media (max-width: 680px) {
    #LocsHtmlBox > *:first-child {
        width: calc(100% - 80px);
        margin: 10px 0 25px;
    }
}

@media (max-width: 550px) {
    #LocsHtmlBox > *:first-child {
        width: calc(100% - 30px);
        margin: 10px 0 25px;
    }
}

#LocsHtmlBox > *:first-child > * {
    float: left;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    /*    background: #f9f9f9;*/
    background-image: linear-gradient( 45deg, hsl(0deg 0% 94%) 0%, hsl(344deg 0% 95%) 11%, hsl(344deg 0% 96%) 22%, hsl(344deg 0% 96%) 33%, hsl(344deg 0% 97%) 44%, hsl(344deg 0% 98%) 56%, hsl(344deg 0% 98%) 67%, hsl(344deg 0% 99%) 78%, hsl(344deg 0% 99%) 89%, hsl(0deg 0% 100%) 100% );
    border-radius: 2px;
}

    #LocsHtmlBox > *:first-child > *:nth-child(2n+1) {
        background: linear-gradient(90deg, rgba(243,240,216,1) 0%, rgba(241,241,241,1) 48%, rgba(255,255,255,1) 100%);
    }

    #LocsHtmlBox > *:first-child > * > *:first-child {
        float: left;
        padding: 8px 25px 9px 15px;
        background: #f0f0f0;
    }

    #LocsHtmlBox > *:first-child > *:nth-child(2n+1) > *:first-child {
        background: #eff0ca
    }

        #LocsHtmlBox > *:first-child > * > *:first-child span {
            float: left;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #3f3f3f
        }

    #LocsHtmlBox > *:first-child > * > ._ArticleN {
        float: right;
        margin-top: 8px;
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #e4e4e4
    }

        #LocsHtmlBox > *:first-child > * > ._ArticleN > span {
            float: right;
            font-size: 10px;
            color: #666666
        }

    #LocsHtmlBox > *:first-child > * > ._ImgB {
        float: right;
        margin-top: 9px;
        margin-right: 15px;
        opacity:1
    }

        #LocsHtmlBox > *:first-child > * > ._ImgB > img {
            height: 12px;
        }

    #LocsHtmlBox > *:first-child > * > ._MoreB {
        float: right;
        margin-top: 9px;
        margin-right: 15px;
        opacity: 1
    }

        #LocsHtmlBox > *:first-child > * > ._MoreB > img {
            height: 12px;
            opacity:0.3
        }

/*        #LocsHtmlBox > *:first-child > * > ._Subscrib[data-type="0"] > img {
            content: url(/PageComponents/UsersHtmlBox/content/doubleCheckBlackBlack.png)
        }

        #LocsHtmlBox > *:first-child > * > ._Subscrib[data-type="1"] > img {
            content: url(/PageComponents/UsersHtmlBox/content/doubleCheckBlackBlack.png)
        }

        #LocsHtmlBox > *:first-child > * > ._Subscrib[data-type="2"] > img {
            content: url(/PageComponents/UsersHtmlBox/content/doubleCheckBlackRed.png)
        }

        #LocsHtmlBox > *:first-child > * > ._Subscrib[data-type="3"] > img {
            content: url(/PageComponents/UsersHtmlBox/content/doubleCheckRedBlack.png)
        }

        #LocsHtmlBox > *:first-child > * > ._Subscrib[data-type="4"] > img {
            content: url(/PageComponents/UsersHtmlBox/content/doubleCheckRedRed.png)
        }*/
