

#UserList
{
    display:inline-block;
    width:600px;
    margin:20px 0;
}

    #UserList article {
        float: left;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid var(--bs-color-bordergray)
    }

    #UserList article > img {
        float: left;
        width:60px;
        height:60px;
        border-radius:100px;
    }

        #UserList article > div {
            float: left;
            margin-left:20px;
            width: calc(100% - 125px);
        }

        #UserList article > div > * {
            float: left;
            width: calc(100% - 100px);
        }

            #UserList article > div > *:last-child {
                float: left;
                width: 80px;
                margin-right:20px;
            }

            #UserList article > div > *:last-child > span {
                float: left;
                font-size:12px;
            }

            #UserList article > div > a > * {
                float: left;
                width: 100%;
                text-align:left;
            }

            #UserList article > div > a > h2 {
                font-size:16px;
                font-weight:600;
                margin-top:5px;
            }

            #UserList article > div > a > span:first-child {
                font-size: 10px;
                text-transform:uppercase;
                letter-spacing: 1px;
                font-weight: 600;
            }

            #UserList article > div > a > span:last-child {
                font-size: 12px;
                margin-top: 2px;
            }

        #UserList article > a {
            float: left;
            width: 40px;
            height: 40px;
        }

            #UserList article > a[data-actp="-1"] {
                display: none;
            }

        #UserList article > a > img {
            float: left;
            width: 25px;
            height: 25px;
        }

            #UserList article > a[data-actp="0"] img {
                content: url(/Pages/Users/content/doubleCheckGreyGrey.png)
            }

            #UserList article > a[data-actp="1"] img {
                content: url(/Pages/Users/content/doubleCheckGreyGreen.png)
            }

            #UserList article > a[data-actp="2"] img {
                content: url(/Pages/Users/content/doubleCheckGreenGrey.png)
            }

            #UserList article > a[data-actp="3"] img {
                content: url(/Pages/Users/content/doubleCheckGreenGreen.png)
            }

@media (max-width: 800px) {
    #UserList {
        float:left;
        width:calc(100% - 100px);
        margin-left:75px;
    }
}

@media (max-width: 700px) {
    #UserList {
        width: calc(100% - 55px);
        margin-left: 30px;
    }
}

@media (max-width: 600px) {
    #UserList {
        width: calc(100% - 40px);
        margin-left: 20px;
    }
}

/* double check */
/*--------------*/
/* https://www.flaticon.com/free-icon/double-check_6164403?term=check&page=6&position=10&origin=search&related_id=6164403*/
/* #78B315 - one - green */
/* #78B315 - two - green */
/* #B7B8B5 - three - grey */
/* #B7B8B5 - fore - grey */

/* #A1A1A1 - grey dark */
/* #629310 - green dark */