#ArticleAddHtmlPart {
    display: inline-block;
    width: 400px;
}

@media (max-width: 460px) {
    #ArticleAddHtmlPart {
        width: calc(100% - 60px);
        margin: 0 30px;
    }
}

#ArticleAddHtmlPart h1 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #616161;
    text-align: left;
    width: calc(100% - 40px);
    margin: 0 20px 30px;
}

#ArticleAddHtmlPart textarea {
    border: 1px solid var(--bs-color-bordergray);
    height: 200px;
    font-size: 16px;
    padding: 20px;
    width: calc(100% - 42px);
    border-radius:6px;
}

    #ArticleAddHtmlPart textarea::placeholder{
        color:#4c4c4c
    }

#ArticleAddHtmlPart > div > div > a {
    float: left;
    font-size: 16px;
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
    border: none;
    background: #ededed;
    font-size: 16px;
    padding: 12px 0;
    font-weight: 400;
    letter-spacing: 1px;
    color: #6d6c6c;
}

#ArticleAddHtmlPart p {
    float: left;
    text-align: left;
    width: calc(100% - 40px);
    margin: 20px 20px 0;
    font-size: 14px;
}

    #ArticleAddHtmlPart p > a {
        text-decoration: underline;
        color: #b3b3b3;
    }

#LoadingHtmlPart {
    display: inline-block;
    margin-top: 200px;
}

    #LoadingHtmlPart > img {
        width: 70px;
        opacity: 0.5;
    }

    #LoadingHtmlPart > a {
        position: absolute;
        margin-left: -70px;
        width: 70px;
        height: 70px;
        opacity: 0.1;
    }

        #LoadingHtmlPart > a img {
            width: 30px;
            margin: 20px;
        }

    #LoadingHtmlPart > p {
        margin-top: 5px;
        font-size: 10px;
        letter-spacing: 2px;
        font-weight: bold;
        color: #c5c5c5;
    }

        #LoadingHtmlPart > p > a {
            margin-top: 5px;
            font-size: 10px;
            letter-spacing: 2px;
            font-weight: bold;
            color: #cfcfcf;
        }