#DescriptionMainHtmlPart {
/*    display:none;*/
    float: left;
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 40px;
    height: 30px;
    background-image: linear-gradient( 45deg, hsl(0deg 0% 94%) 0%, hsl(344deg 0% 95%) 11%, hsl(344deg 0% 96%) 22%, hsl(344deg 0% 96%) 33%, hsl(344deg 0% 97%) 44%, hsl(344deg 0% 98%) 56%, hsl(344deg 0% 98%) 67%, hsl(344deg 0% 99%) 78%, hsl(344deg 0% 99%) 89%, hsl(0deg 0% 100%) 100% );
    border-radius: 4px;
}

    #DescriptionMainHtmlPart > * {
        float:left;
    }

    #DescriptionMainHtmlPart > span {
        margin: 9px 15px 0;

        font-size: 11px;
        font-weight: 600;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #777777
    }

    #DescriptionMainHtmlPart > img {
        float:right;
        width: 10px;
        height: 10px;
        margin: 10px 15px;

        opacity: 0.1;
    }


@media (max-width: 550px) {
    #DescriptionMainHtmlPart {
        width: calc(100% - 30px);
        margin-left: 15px;
    }
}

#SearchHtmlPart {
    float: left;
    width: calc(100% - 82px);
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 40px;
    height: 40px;
    border:1px solid #dddddd;
    background-image: linear-gradient( 45deg, hsl(0deg 0% 94%) 0%, hsl(344deg 0% 95%) 11%, hsl(344deg 0% 96%) 22%, hsl(344deg 0% 96%) 33%, hsl(344deg 0% 97%) 44%, hsl(344deg 0% 98%) 56%, hsl(344deg 0% 98%) 67%, hsl(344deg 0% 99%) 78%, hsl(344deg 0% 99%) 89%, hsl(0deg 0% 100%) 100% );
    border-radius: 4px;
}

@media (max-width: 550px) {
    #SearchHtmlPart {
        width: calc(100% - 32px);
        margin-left: 15px;
    }
}

#SearchHtmlPart > input {
    float: left;
    border:none;
    background:none;
    height:inherit;
    padding-left:15px;
    font-size:16px;
    letter-spacing:2px;
    width: calc(100% - 50px);
}

    #SearchHtmlPart > a {
        float:right;
        padding:13px 15px;
    }

    #SearchHtmlPart > a > img {
        float: left;
        height:14px;
        width:14px;
        opacity:0.3;
    }




#UserHtmlPart {
    float: left;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 40px;
    height: 30px;
    width: calc(100% - 80px);
    background-image: linear-gradient( 45deg, hsl(0deg 0% 94%) 0%, hsl(344deg 0% 95%) 11%, hsl(344deg 0% 96%) 22%, hsl(344deg 0% 96%) 33%, hsl(344deg 0% 97%) 44%, hsl(344deg 0% 98%) 56%, hsl(344deg 0% 98%) 67%, hsl(344deg 0% 99%) 78%, hsl(344deg 0% 99%) 89%, hsl(0deg 0% 100%) 100% );
    border-radius: 4px;
}

@media (max-width: 550px) {
    #UserHtmlPart {
        width: calc(100% - 30px);
        margin-left: 15px;
    }
}

    #UserHtmlPart > * {
        float: left;
    }

    #UserHtmlPart > *:first-child > * {
        float: left;
        margin-top:4px;
        width:25px;
        height:22px;
        margin-right:6px;
        background:hsl(55 100% 41%);
        border-radius:2px;    
    }

        #UserHtmlPart > *:first-child > *:first-child {
            margin-left:15px;
        }

        #UserHtmlPart > *:first-child > *:nth-child(2) {
            background: hsl(0 88% 57%);
        }

        #UserHtmlPart > *:first-child > *:nth-child(3) {
            background: hsl(98 88% 57%);
        }

        #UserHtmlPart > *:first-child > *:nth-child(4) {
            background: hsl(199 88% 57%);
        }

        #UserHtmlPart > *:first-child > * > span {
            display:inline-block;
            font-size:10px;
            margin-top:5px;
            font-weight:600;
        }

        #UserHtmlPart > *:nth-child(2) {
            float: left;
            height: 30px;
        }

            #UserHtmlPart > *:nth-child(2) > span {
                float: left;
                font-size: 11px;
                font-weight: 600;
                letter-spacing: 5px;
                text-transform: uppercase;
                color: #504f4f;
                margin: 8px 10px 0 0;
                padding:0 10px;
                border-right:1px solid #8b8b8b
            }

        #UserHtmlPart > *:nth-child(3) > span {
            float: left;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #504f4f;
            margin: 8px 0 0;
        }

    #UserHtmlPart > img {
        float: right;
        width: 10px;
        height: 10px;
        margin: 10px 15px;
        opacity: 0.1;
    }

#ArticleHtmlPart {
    float: left;
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 40px;
    height: 30px;
    background-image: linear-gradient( 45deg, hsl(0deg 0% 94%) 0%, hsl(344deg 0% 95%) 11%, hsl(344deg 0% 96%) 22%, hsl(344deg 0% 96%) 33%, hsl(344deg 0% 97%) 44%, hsl(344deg 0% 98%) 56%, hsl(344deg 0% 98%) 67%, hsl(344deg 0% 99%) 78%, hsl(344deg 0% 99%) 89%, hsl(0deg 0% 100%) 100% );
    border-radius: 4px;
}

@media (max-width: 550px) {
    #ArticleHtmlPart {
        width: calc(100% - 30px);
        margin-left: 15px;
    }
}

    #ArticleHtmlPart > * {
        float: left;
    }

    #ArticleHtmlPart > *:first-child {
        margin-left:5px;
    }

        #ArticleHtmlPart > *:first-child > span {
            float: left;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #504f4f;
            margin: 8px 10px 0 0;
            padding: 0 10px;
            border-right: 1px solid #8b8b8b
        }

        #ArticleHtmlPart > *:nth-child(2) > span {
            float: left;
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #504f4f;
            margin: 8px 10px 0 0;
            padding: 0 10px;
            border-right: 1px solid #8b8b8b
        }

        #ArticleHtmlPart > *:nth-child(2) > span {
            border-right: none;
        }

    #ArticleHtmlPart > img {
        float: right;
        width: 10px;
        height: 10px;
        margin: 10px 15px;
        opacity: 0.1;
    }
