#MainBox {
    display:inline-block;
    width:600px;
    margin:30px 0 60px;
}

    #MainBox #_UserProfile {
        float:left;
        width: 100%;
        padding-bottom:20px;
    }

        #MainBox #_UserProfile > img {
            display: inline-block;
            width: 40%;
            border-radius: 600px;
        }

        #MainBox #_UserProfile > h1 {
            font-weight:bold;
            font-size:20px;
            letter-spacing:1px;
            margin-top:20px;
            color:#222222;
            width: 100%;
        }

        #MainBox #_UserProfile > #_UserLogin {
            float: left;
            width: 100%;
            margin-top: 15px;
        }

        #MainBox #_UserProfile > #_UserLogin > a {
            display:inline-block;
            padding:7px 20px;
            background:#e5e5e5;
            border-radius:6px;
            font-weight:600;
            letter-spacing:1px;
        }

        #MainBox #_UserProfile > #_UserDescription {
            float: left;
            width: 100%;
            margin-top: 30px;
        }

        #MainBox #_UserProfile > #_UserDescription > span {
            color:#4b4b4b
        }

        #MainBox #_UserProfile > #_UserLocation {
            float: left;
            width: 100%;
            margin-top: 10px;
        }

        #MainBox #_UserProfile > #_UserLocation > img {
            height:14px;
            opacity:0.5;
            margin-right:10px;
        }

            #MainBox #_UserProfile > #_UserLocation > span {
                color: #959595
            }

        #MainBox #_UserProfile > #_UserLink {
            float: left;
            width: 100%;
            margin-top: 10px;
        }

            #MainBox #_UserProfile > #_UserLink > img {
                height: 14px;
                opacity: 0.5;
                margin-right: 10px;
            }

            #MainBox #_UserProfile > #_UserLink > a {
                color: #415eaa
            }

    #MainBox ._UserFollowBox {
        float: left;
        width: 100%;
        padding-top: 70px;
    }

        #MainBox ._UserFollowBox > ._ListBox {
            float: left;
            width: 46%;
            margin:0 2%;
        }

            #MainBox ._UserFollowBox > ._ListBox > h1 {
                float:left;
                width:100%;
                padding: 8px 0;
                font-size: 12px;
                font-weight: bold;
                background: #ededed;
                letter-spacing:1px;
                border-radius:6px;
                font-size:14px;
                color:#2f2f2f;
            }

            #MainBox ._UserFollowBox > ._ListBox > ul {
                float: left;
                width: 100%;
                margin-top:10px;
            }

            #MainBox ._UserFollowBox > ._ListBox > ul > li {
                float: left;
                width: 100%;
                padding:10px 0 0;
            }

                #MainBox ._UserFollowBox > ._ListBox > ul > li > a:first-child {
                    float: left;
                    width:60px;
                    height:20px;
                }

                #MainBox ._UserFollowBox > ._ListBox > ul > li > a:last-child {
                    float: left;
                    width: calc(100% - 80px);
                    text-align:left;
                    font-weight:600;
                    color:#343434;
                    padding-bottom:10px;
                    border-bottom: 1px solid #e5e5e5;
                }

/*    #MainBox ._UserFollowBox:last-child {
        padding-top: 80px;
    }*/

@media (max-width: 640px) {
    #MainBox {
        float: left;
        margin-left: 20px;
        width: calc(100% - 40px);
    }
}