#LoadingHtmlPart {
    display: inline-block;
    margin-top: 200px;
}

    #LoadingHtmlPart > img {
        width: 70px;
        opacity: 0.5;
    }

    #LoadingHtmlPart > a {
        position: absolute;
        margin-left: -70px;
        width: 70px;
        height: 70px;
        opacity: 0.1;
    }

        #LoadingHtmlPart > a img {
            width: 30px;
            margin: 20px;
        }

    #LoadingHtmlPart > p {
        margin-top: 5px;
        font-size: 10px;
        letter-spacing: 2px;
        font-weight: bold;
        color: #c5c5c5;
    }

        #LoadingHtmlPart > p > a {
            margin-top: 5px;
            font-size: 10px;
            letter-spacing: 2px;
            font-weight: bold;
            color: #cfcfcf;
        }





#EditProfileHtmlPart {
    display: inline-block;
    width: 400px;
    padding:50px 0;
}

@media (max-width: 460px) {
    #EditProfileHtmlPart {
        width: calc(100% - 60px);
        margin:0 30px;
    }
}

#EditProfileHtmlPart > div > * {
    float:left;
}

#EditProfileHtmlPart > div > div > *:first-child {
    float: left;
    width:100%;
    margin:0 0 30px;
}

    #EditProfileHtmlPart > div > div > *:first-child > a {
        display: inline-block;
        width: 100px;
        height: 110px;
        width: 110px;
        border: 3px solid #fff;
        background: #bebebe;
        border-radius: 10px;
        position:relative;
    }

    #EditProfileHtmlPart > div > div > *:first-child > a > img {
        float:left;
        left:0;
    }

        #EditProfileHtmlPart > div > div > *:first-child > a > img:first-child {
            float: left;
            display: inline-block;
            width: 92%;
            height: 92%;
            margin: 4%;
            border-radius: 7px;
            position:absolute;
            z-index:1000;
        }

        #EditProfileHtmlPart > div > div > *:first-child > a > img:last-child {
            float: left;
            display: inline-block;
            width: 20%;
            height: 20%;
            margin: 40%;
            position: absolute;
            z-index: 1001;
        }

    #EditProfileHtmlPart h1 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #616161;
        text-align: left;
        width: calc(100% - 40px);
        margin: 0 20px 30px;
    }

#EditProfileHtmlPart input[type="text"] {
    border: 1px solid var(--bs-color-input-border);
    border-radius: 0px;
    height: 40px;
    padding: 0 20px;
    width: calc(100% - 42px);
    border-bottom: 0px;
    letter-spacing:1px;
}

#EditProfileHtmlPart input:nth-child(2) {
    float: left;
    margin-bottom: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#EditProfileHtmlPart input:nth-child(3) {
    float: left;
    border-bottom: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: 1px solid var(--bs-color-input-border);
}

#EditProfileHtmlPart textarea {
    float: left;
    margin-top: 10px;
    width: calc(100% - 32px);
    padding: 15px;
    border-radius: 6px;
    height: 150px;
    border: 1px solid var(--bs-color-input-border);
}

#EditProfileHtmlPart > div > div > #_submit {
    float: left;
    font-size: 16px;
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
    border: none;
    background: #ededed;
    font-size: 16px;
    padding: 12px 0;
    font-weight: 400;
    letter-spacing: 1px;
    color: #6d6c6c;
}

    #EditProfileHtmlPart p {
        float:left;
        text-align:left;
        width: calc(100% - 40px);
        margin: 20px 20px 0;
        font-size:14px;
    }

        #EditProfileHtmlPart p > a {
            text-decoration: underline;
            color: #b3b3b3;
        }

