/*-- https://www.joshwcomeau.com/gradient-generator/ --*/

/*#SearchHeaderHtmlBox {
    float: left;
    width: calc(100% - 82px);
    margin-left: 40px;
    margin-bottom: 20px;
    height: 42px;
    background: var(--bs-background-input);
    border: 1px solid var(--bs-color-input-border);
    border-radius: 6px;
    display:none;
}*/

#SearchHeaderHtmlBox {
    float: left;
    width: calc(100% - 82px);
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 30px;
    /*    background: var(--bs-background-input);*/
    /*    background:#f9f9f9;*/
    /*    border: 1px solid var(--bs-color-input-border);*/
    background-image: linear-gradient( 45deg, hsl(0deg 0% 94%) 0%, hsl(344deg 0% 95%) 11%, hsl(344deg 0% 96%) 22%, hsl(344deg 0% 96%) 33%, hsl(344deg 0% 97%) 44%, hsl(344deg 0% 98%) 56%, hsl(344deg 0% 98%) 67%, hsl(344deg 0% 99%) 78%, hsl(344deg 0% 99%) 89%, hsl(0deg 0% 100%) 100% );
    border-radius: 4px;
}

/*#SearchHeaderHtmlBox input {
    float: left;
    width: calc(100% - 40px);
    height: 40px;
    border: none;
    margin-top: 2px;
    padding: 0 20px 0 50px;
    background: none;
    outline: 0;
    outline-offset: 0;
    border-color: none;
    border: 0px;
    font-size: 16px;
    font-weight:600;
    letter-spacing:2px;
}*/

    #SearchHeaderHtmlBox input {
        float: left;
        width: calc(100% - 30px);
        height: 20px;
        border: none;
        margin-top: 5px;
        padding: 0 20px 0 50px;
        background: none;
        outline: 0;
        outline-offset: 0;
        border-color: none;
        border: 0px;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 2px;
    }

@media (max-width: 550px) {
    #SearchHeaderHtmlBox {
        width: calc(100% - 32px);
        margin-left: 15px;
    }

        #SearchHeaderHtmlBox input {
            padding: 0 20px 0 45px;
        }
}

#SearchHeaderHtmlBox input::placeholder {
    font-weight: 600;
    border: 0px;
    letter-spacing:5px;
}

#SearchHeaderHtmlBox input:focus {
    outline: none;
    border-color: none;
    background: none;
    outline: 0;
    outline-offset: 0;
    border: 0px;
}

#SearchHeaderHtmlBox a {
    float: left;
    width: 30px;
    height: 30px;
    display: none;
}

    #SearchHeaderHtmlBox a img {
        width: 32%;
        height: 32%;
        margin: 33% 0 33% 5%;
        opacity: 0.4;
    }
